<p id="notice"><%= notice %></p>

<p>
  <strong>Category:</strong>
  <%= @connection.category %>
</p>

<p>
  <strong>Metadata:</strong>
  <%= @connection.metadata %>
</p>

<%= link_to 'Edit', edit_connection_path(@connection) %> |
<%= link_to 'Back', connections_path %>
