<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @tutor.user_id %>
</p>

<p>
  <strong>Metadata:</strong>
  <%= @tutor.metadata %>
</p>

<%= link_to 'Edit', edit_tutor_path(@tutor) %> |
<%= link_to 'Back', tutors_path %>
