<%= render "nav" %>  

<hr>

<div class="grid">
  <section class="grid-item"><%= render "users" %></section>
  <section class="grid-item"><%= render "online" %></section>
  <section class="grid-item"><%= render "tutorials" %></section>
  <section class="grid-item"><%= render "tutors" %></section>
  <section class="grid-item"><%= render "company_search" %></section>
</div>