<!DOCTYPE html>
<html>
  <head>
    <title>Prototypical</title>
    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <%= raw flash[:messages]&.join("<br>")&.html_safe %> <hr>
    <%= yield %>
    <% console %>
  </body>
</html>
